<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">Endless Pages: Discover Your Next Adventure</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Curious to explore new genres and uncover hidden literary gems?
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                Welcome to "Endless Pages: Discover Your Next Adventure," where every click brings you closer to your new favorite book.
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field
                    class="w-full sm:w-36"
                    [subscriptSizing]="'dynamic'">
                    <mat-select
                        [value]="'all'"
                        (selectionChange)="onFilterByCategory($event)">
                        <mat-option [value]="'all'">All</mat-option>
                        <ng-container *ngFor="let category of this.listCategories">
                            <mat-option [value]="category">{{category}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field
                    class="w-full sm:w-72 mt-6 sm:mt-0 sm:ml-4"
                    [subscriptSizing]="'dynamic'">
                    <mat-icon
                        matPrefix
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <input (input)="onSearchByTitle(query.value)" placeholder="Search by title" matInput #query>
                </mat-form-field>
                <mat-slide-toggle
                    class="mt-8 sm:mt-0 sm:ml-auto"
                    [color]="'primary'"
                    (change)="onToggleCompleted($event)">
                    Hide completed
                </mat-slide-toggle>
            </div>
            <!-- Courses -->
            <ng-container *ngIf="this.bookList.length;">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                    <ng-container *ngFor="let course of this.bookList;">
                        <!-- Course -->
                        <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <!-- Course category -->
                                    <ng-container *ngIf="(course.category) as category">
                                        <div
                                            class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': category === 'Tragedy',
                                                        'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': category === 'Adventure',
                                                        'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': category === 'Romance',
                                                        'text-red-800 bg-red-100 dark:text-red-50 dark:bg-red-500': category === 'Biography',
                                                        'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': category === 'Fantasy'}">
                                            {{category}}
                                        </div>
                                    </ng-container>
                                    <div class="flex items-center">
                                        <ng-container >
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check-badge'"
                                                [matTooltip]="'You completed this course at least once'"></mat-icon>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Course title & description -->
                                <div class="mt-4 text-lg font-medium">{{course.title}}</div>
                                <div class="mt-0.5 line-clamp-6 text-secondary">{{course.description}}</div>
                                <div class="w-12 h-1 my-6 border-t-2"></div>
                                <!-- Course time -->
                                <div class="flex items-center leading-5 text-md text-secondary">
                                    <mat-icon
                                        class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:square-3-stack-3d'"></mat-icon>
                                    <div class="ml-1.5">{{course.numberOfPages}} pages</div>
                                </div>

                                <div class="flex items-center leading-5 text-md text-secondary">
                                    <mat-icon
                                        class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
                                    <div class="ml-1.5">{{course.language}}</div>
                                </div>

                            </div>
                            <!-- Footer -->
                            <div class="flex flex-col w-full mt-auto" >
                                <!-- Course launch button -->
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <a
                                        mat-stroked-button
                                        (click)="redirectToPublisher(course.publisher)">
                                        <span class="inline-flex items-center">
                                            <!-- Started -->
                                            <ng-container>
                                                <span>Continue</span>
                                            </ng-container>
                                            <mat-icon
                                                class="ml-1.5 icon-size-5"
                                                [svgIcon]="'heroicons_solid:arrow-small-right'"></mat-icon>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>

    </div>

</div>
