# Ignore .db files
*.db

# Ignore TypeScript build output
*.js
*.js.map
*.d.ts

# Ignore Angular build output
/dist/
/node_modules/

# Ignore Spring Boot build output
/target/

# Ignore Java build output
*.class
*.jar
*.war
*.ear

