<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">

        <!-- Title -->
        <div class="mt-4 md:mt-24 text-3xl md:text-6xl font-extrabold tracking-tight leading-7 sm:leading-10">
            Boards
        </div>

        <!-- Boards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 md:mt-16">
            <ng-container *ngFor="let board of boards;">
                <a style="background-color: #E0FFFF !important;"
   class="flex flex-col items-start w-56 p-6 rounded-lg shadow bg-card hover:shadow-xl transition-shadow duration-150 ease-in-out"
   [routerLink]="[board.id]">
   <div class="flex items-center justify-center p-4 rounded-full" style="background-color:#73C2FB !important; width: 3rem; height: 3rem;">
      <mat-icon [svgIcon]="'custom-icon'" style="width: 1.5rem !important; height: 1.5rem !important; color: #ffffff !important;"></mat-icon>
   </div>
   <!-- Title -->
   <div class="mt-5 text-lg font-medium leading-5" >{{board.title}}</div>
   <!-- Description -->
   <div class="mt-0.5 line-clamp-2 text-secondary">{{board.description}}</div>


</a>


            </ng-container>
            <!-- New board -->
            <div class="flex flex-col items-center justify-center w-56 rounded-lg cursor-pointer border-2 border-gray-300 border-dashed hover:bg-hover transition-colors duration-150 ease-in-out">
                <mat-icon
                    class="icon-size-12 text-hint"
                    [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </div>
        </div>

    </div>

</div>


