.slider {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Ensure it spans the full width of the viewport */
  height: 20vh;
  background: linear-gradient(to right, #fdd72e, #ffc803);
  transition: transform 0.3s ease-out;
  transform: translateY(100%);
  z-index: 6;
  overflow-x: auto; /* Key for horizontal scrolling */
  white-space: nowrap; /* Prevents wrapping of inline elements */
  padding: 10px 0;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.6);
  border-top: 5px solid #000000;
}


.slider-open {
  transform: translateY(0);
}

.toggle-btn {
  position: fixed;
  /* Remove fixed positioning and adjust top margin */
  margin-top: 20vh; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, #ff5722, #ff9054);
  color: white;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  border: none;
  cursor: pointer;
  z-index: 7;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background: radial-gradient(circle, #ff784e, #ffab76); /* More vibrant hover effect */
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.45);
}

.slider-list {
  display: flex;
  padding-left: 10px;
  margin: 0;
  list-style-type: none;
  flex-wrap: nowrap;
  width: max-content; /* Set a fixed width */
  overflow-x:scroll; /* Enable horizontal scrolling */
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Center the content horizontally and evenly distribute space around items */
  margin-right: 30px;
  border: 1px solid #0099ff; /* Lighter border */
  padding: 40px; /* Increased padding */
  border-radius: 12px; /* Smoother border radius */
  background: rgba(255, 255, 255, 0.95); /* High transparency for a glass-like effect */
  width: 700px; /* Increased width */
  height: calc(20vh - 20px);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-out, box-shadow 0.3s ease;
}

.slider-image {
  width: 175px; /* Increased image size */
  height: 175px; /* Increased image size */
  object-fit: cover;
  border-radius: 50%;
  animation: pulse 2s infinite ease-in-out;
  border-radius: 50%; /* Maintains the circular shape */
  border: 3px solid #000000; /* Light grey border; customize color as needed */
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  margin-top: 20px; /* Adjusted margin for spacing */
  width: 230px; /* Adjusted for new layout */
  text-align: center; /* Center text */
}

.slider-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.slider-title {
  font-weight: bold;
  font-size: 2em; /* Increased text size */
  color: #002244; /* Updated text color for better contrast */
}

.slider-description {
  font-weight: bold;
  font-size: 1.5em; /* Increased text size */
  color: #0a203660; /* Updated text color for better contrast */
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}