<body>
<!-- Slider with dynamic class for open/close state -->
<div class="slider" [ngClass]="{'slider-open': sliderOpen}" #slider>
  <ul class="slider-list">
    <!-- Dynamically generated list of slider items -->
    <li *ngFor="let item of sliderItems" class="slider-item" (click)="addWidget(item.component)">
      <img [src]="item.image" alt="{{item.description}}" class="slider-image">
      <div class="slider-content">
        <div class="slider-title">{{item.title}}</div>
        <div class="slider-description">{{item.description}}</div>
      </div>
    </li>
  </ul>
</div>

<!-- Toggle button for slider -->
<button (click)="toggleSlider()" class="toggle-btn" [style.margin-top]="sliderOpen ? '67vh' : '87vh'">&#43;</button>

<!-- Placeholder for dynamically inserted components -->
<div #dynamicInsert></div>

<!-- Gridster component for widget layout -->
<gridster [options]="gridOptions">
  <gridster-item *ngFor="let widget of widgets" [item]="widget">
    <ng-container *ngComponentOutlet="widget.component"></ng-container>
  </gridster-item>
</gridster>
</body>