    <body>
        <main>
            <section class="donate-section">
                <div class="section-overlay"></div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mx-auto">
                            <form class="custom-form donate-form" action="#" method="get" role="form">
                                <h3 class="mb-4">Make a donation</h3>
                                <p>It helps us sustain the project. Thank you!</p>

                                <div class="row">
                                    
                                    <div class="col-lg-12 col-12">
                                        <h5 class="mt-2 mb-3">Select an amount</h5>
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="selectedAmount" [value]="10">
                                          <label class="form-check-label" for="flexRadioDefault1">
                                            $10
                                          </label>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="selectedAmount" [value]="15">
                                          <label class="form-check-label" for="flexRadioDefault2">
                                            $15
                                          </label>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" [(ngModel)]="selectedAmount" [value]="20">
                                          <label class="form-check-label" for="flexRadioDefault3">
                                            $20
                                          </label>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" [(ngModel)]="selectedAmount" [value]="30">
                                          <label class="form-check-label" for="flexRadioDefault4">
                                            $30
                                          </label>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" [(ngModel)]="selectedAmount" [value]="45">
                                          <label class="form-check-label" for="flexRadioDefault5">
                                            $45
                                          </label>
                                        </div>
                                      </div>

                                      <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" [(ngModel)]="selectedAmount" [value]="50">
                                          <label class="form-check-label" for="flexRadioDefault6">
                                            $50
                                          </label>
                                        </div>
                                      </div>

                                      <div class="col-lg-6 col-12 form-check-group">
                                        <div class="input-group">
                                          <span class="input-group-text" id="basic-addon1">$</span>
                                          <input type="text" class="form-control" placeholder="Custom amount" aria-label="Custom amount" aria-describedby="basic-addon1" (input)="onCustomAmountInput($event)">
                                        </div>
                                      </div>

                                    <div class="col-lg-12 col-12">
                                        <h5 class="mt-4 pt-1">Payment Method</h5>
                                    </div>

                                    <div class="col-lg-12 col-12 mt-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="DonationPayment" id="flexRadioDefault9">
                                            <label class="form-check-label" for="flexRadioDefault9">
                                                <i class="bi-credit-card custom-icon ms-1"></i>
                                                Debit or Credit card
                                            </label>
                                        </div>
                                        <button type="submit" class="form-control mt-4" (click)="pay()">Submit Donation</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <div class="container">
                <div class="row">

                  <div class="container text-center mb-4">
                    <h2 class="section-title">Our Needs</h2>
                </div>
                
                <div class="row">
                    <!-- Coffee Donation Block -->
                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="donation-block">
                            <img src="../../../../../assets/image/opensource/Coffee.jpg" class="donation-image" alt="Coffee">
                
                            <div class="donation-content">
                                <h5 class="donation-title mb-3">Coffee</h5>
                                <p class="donation-description">The devs need some energy, help us with coffee.</p>
                                <div class="donation-info my-2">
                                    <p class="raised-amount mb-0">
                                        <strong>Raised:</strong> {{ raisedAmount }}
                                    </p>
                                    <p class="goal-amount ms-auto mb-0">
                                        <strong>Goal:</strong> {{ goalAmount }}
                                    </p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" [style.width.%]="progressPercentage"></div>
                                </div>
                                <a href="/contribute/donate" class="btn custom-btn">Donate now</a>
                            </div>
                        </div>
                    </div>
                
                    <!-- Server Hosting Donation Block -->
                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="donation-block">
                            <img src="../../../../../assets/image/opensource/Server.jpg" class="donation-image" alt="Server hosting">
                
                            <div class="donation-content">
                                <h5 class="donation-title mb-3">Server hosting</h5>
                                <p class="donation-description">Help us support the cost of server hosting for this app.</p>
                                <div class="donation-info my-2">
                                    <p class="raised-amount mb-0">
                                        <strong>Raised:</strong> {{ raisedAmount }}
                                    </p>
                                    <p class="goal-amount ms-auto mb-0">
                                        <strong>Goal:</strong> {{ goalAmount2 }}
                                    </p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" [style.width.%]="progressPercentage2"></div>
                                </div>
                                <a href="/contribute/donate" class="btn custom-btn">Donate now</a>
                            </div>
                        </div>
                    </div>
                
                    <!-- Vacation Donation Block -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="donation-block">
                            <img src="../../../../../assets/image/opensource/Travel.jpg" class="donation-image" alt="Vacation">
                
                            <div class="donation-content">
                                <h5 class="donation-title mb-3">A nice vacation</h5>
                                <p class="donation-description">If this platform really helped you, take us on a trip.</p>
                                <div class="donation-info my-2">
                                    <p class="raised-amount mb-0">
                                        <strong>Raised:</strong> {{ raisedAmount }}
                                    </p>
                                    <p class="goal-amount ms-auto mb-0">
                                        <strong>Goal:</strong> {{ goalAmount3 }}
                                    </p>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" [style.width.%]="progressPercentage3"></div>
                                </div>
                                <a href="/contribute/donate" class="btn custom-btn">Donate now</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
            <br>
        </main>
    </body>


    <div class="modal" tabindex="-1" role="dialog" id="thankYouModal" *ngIf="showThankYouModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Thank You!</h5>
              <button type="button" class="close" aria-label="Close" (click)="closeThankYouModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Thank you for your donation!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="closeThankYouModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
